@media (max-width: 980px) {
    .header-row {
        column-gap: 30px;
    }

    .header-img {
        width: 300px;
        border-radius: 30px;
    }

    .header-title {
        font-size: 52px;
    }

    .header-text {
        font-size: 22px;
    }

    .portfolio-title {
        font-size: 42px;
    }

    .contacts-title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom-right-radius: 60px;
    }

    .header-video {
        border-bottom-right-radius: 60px;
    }

    .header-row {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .header-img {
        width: 100%;
    }

    .header-title {
        font-size: 32px;
    }

    .header-text {
        font-size: 18px;
    }

    /* BTNS */
    .btn,
    .btn-outline {
        height: 42px;
        padding: 12px 15px 0;
    }

    /* PORTFOLIO */
    .portfolio {
        padding: 40px 0;
    }

    .portfolio-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .projects {
        row-gap: 30px;
    }

    .project-img {
        margin-bottom: 20px;
        border-radius: 14px;
    }

    .project-title {
        font-size: 16px;
    }

    /* Contacts */
    .contacts {
        padding: 40px 0;
        border-top-left-radius: 60px;
    }

    .contacts-title {
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 700;
    }

    .messangers {
        gap: 20px;
    }

    .messanger {
        padding: 36px 20px;
        border-radius: 12px;
        font-size: 16px;
    }

    /* Footer */
    .footer-inner {
        font-size: 12px;
    }
}